.title {
  padding-left: 100px;

  font-size: 30px;
  margin-top: 40px;
}
.carousel {
  text-align: center;
  margin: 50px 100px 50px 100px;
}
.announceList {
  padding: 20px 100px 20px 100px;
  .announce {
    margin-top: 20px;
    padding: 20px 30px 20px 30px;

    background-color: #f0f0f0;
    border-radius: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    .titleName {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
    }
    .episodes {
      margin-left: 20px;
    }
    &:hover {
      background-color: #e0e0e0;
    }
  }
}
@media (max-width: 1204px) {
  .announceList {
    .announce {
      font-size: 14px;
      .titleName {
        font-size: 18px;
      }
    }
    .extra {
      display: none;
    }
  }
}
@media (max-width: 800px) {
  .announceList {
    padding: 20px 40px 20px 40px;
    .announce {
      border-radius: 20px;
    }
  }
  .title {
    font-size: 24px;
    padding: 50px 40px 20px 40px;
  }
}
