@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
* {
  letter-spacing: 1px;
  font-family: Ubuntu, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
